<!DOCTYPE html>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Hi {{name}} !</h1>
    <p>View and Edit Groups</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/users/{{id}}/addGroup">Add Group</a></li>
        <!-- <li><a href="#">Contact</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    {{#each groups}}
      <div class="col-sm-4">
        <div class="panel panel-primary" id="group-{{this.g_id}}">
          <div class="panel-heading">{{this.group_name}}</div>
            <div class="panel-body">
            <pre>{{this.g_id}}. {{this.group_name}}</pre>
            <a href="/users/group/{{this.g_id}}" class="btn btn-primary">View</a>
              {{#if this.admin}}
                <button class="editButton btn btn-primary" data-group="{{this.g_id}}">Edit</button>
              {{else}}
                <button class="leaveButton btn btn-primary" data-group="{{this.g_id}}">Leave</button>
              {{/if}}
            </div>
          <div class="panel-footer">Max spending: ${{this.dollar_amount}}</div>
        </div>
      </div>
    {{/each}}
  </div>
</div><br>


<footer class="container-fluid text-center">
  <!-- <p>Edit Groups</p> -->
  <form class="form-inline" style="font-size: 15pt;">Copyright GiftBuddy
    <!-- <input type="email" class="form-control" size="50" placeholder="Email Address"> -->
  </form>
</footer>