<div class="row" style="position: absolute; min-height: 100%; height: 100%; width: 100%; top: 0">

    <div class="col s12 m5 white" style="min-height: 100%; height: 100%">

        <!-- HEADER -->
        <div class="row">
            <div class="col s12" style="padding: 10px">
                GiftBuddy
            </div>
        </div>

        <!-- SECTION TO GIVE GIFT -->
        <div class="row" style="margin-bottom: 0;">
            <div class="col s12" style="padding: 0 10%">
                <form action="/gift" method="POST">
                    <input type="text"
                           class="index_add blink"
                           name="new_gift_name"
                           id=""
                           placeholder="What kind of item do you want to gift?">
                    <button type="submit"
                            class="btn"
                            id="">Add to Giftlist</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col s12 m7 grey" style="min-height: 100%; height: 100%; padding: 10% 5%">

        <!--SECTION TO VIEW BURGER-->
        <div>
            <div>
                {{#each gift_data}}
                    {{#if this.gifted}}

                        <!-- GIFTED GIFT SECTION -->
                        <div>
                            <pre>{{this.id}}. {{this.giftName}}</pre>
                        </div>

                    {{else}}

                        <!-- SECTION TO SEE AVAILABLE BURGERS -->
                        <div>
                            <pre>{{this.id}}. {{this.giftName}}</pre>
                            <form method="POST" action="/gift?_method=PUT">
                                <input type="hidden" type="text" name="gift_id" value={{this.id}}>
                                <button type="submit" class="btn">Gift</button>
                            </form>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>