<!DOCTYPE html>

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{groupName}}</h1>
    <p>Single Group</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/addGroup">Add Group</a></li>
        <li><a href="/sendGift">Send Gift</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
        <h2 class="text-center">MEMBERS</h2>
        <ul class="list-unstyled">
        {{#each groupUsers}}
        <li class="text-center">{{this.full_name}}</li>
        {{/each}}
        </ul>
    </div>

    <!-- jQuery Comments -->
    <div class="col-lg-5">
        <div id="comments-container" class="jquery-comments" style="margin-top: 50px; padding-left: 30px; padding-right: 30px;">
            <h2 class="text-center">jQuery Comments</h2>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="row">

            <div class="col-md-12 text-center">
                <!-- Your buddy info! -->
                <h2>Your Gift Buddy!</h2>
                {{#each yourBuddy}}
                    <p>
                        {{this.full_name}}  <br>
                        {{this.address}}    <br>
                        {{this.email}}      <br>
                        {{this.wishes}}     <br>
                    </p>
                {{/each}}
            </div>

        </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/assets/js/jquery-comments.js"></script>

<script type="text/javascript">

$('#comments-container').comments({
    profilePictureURL: 'https://app.viima.com/static/media/user_profiles/user-icon.png',
    getComments: function(success, error) {
        var commentsArray = [{
            id: 1,
            created: '2016-12-12',
            content: 'Honestly, its a NO for me...',
            fullname: 'Simon Cowell',
            upvote_count: 2,
            user_has_upvoted: false
        }];
        success(commentsArray);
    }
});

</script>

<footer class="container-fluid text-center" style="bottom: 0;">
  <form class="form-inline" style="font-size: 15pt;">Copyright GiftBuddy</form>
</footer>
