<!DOCTYPE html>

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{groupName}}</h1>
    <p>Single Group</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/addGroup">Add Group</a></li>
        <li><a data-toggle="modal" data-target="#myModal">Send Gift</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/yourAccount"><i class="fa fa-user" aria-hidden="true"></i> Your Account</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Send Gift</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/sendGift" method="post">
          <input type="text" name="group_name" class="sr-only" value="{{groupName}}">
          {{#each yourBuddy}}
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" name="full_name" class="form-control input-sm" value="{{this.full_name}}">
                </div>
            </div>
            <div class="form-group"> 
                <div class="col-sm-12">    
                    <input type="address" name="address" class="form-control input-sm" value="{{this.address}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">    
                    <input type="email" name="email" class="form-control input-sm" value="{{this.email}}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control input-sm" rows="5" placeholder="Enter a massage..."></textarea>
                </div>
            </div>
           {{/each}}
           <div class="modal-footer">
	          <button type="submit" class="btn btn-default">Send</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	       </div>
          </form>  
        </div>
      </div>    
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
        <h2 class="text-center">MEMBERS</h2>
        <ul class="list-unstyled">
        {{#each groupUsers}}
        <li class="text-center">{{this.full_name}}</li>
        {{/each}}
        </ul>
    </div>

    <!-- jQuery Comments -->
    <div class="col-lg-5">
        <div id="comments-container" class="jquery-comments" style="margin-top: 50px; padding-left: 30px; padding-right: 30px;">
            <h2 class="text-center">jQuery Comments</h2>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="row">

            <div class="col-md-12 text-center">

                <!-- Your buddy info! -->
                <h2>Your Gift Buddy!</h2>
                {{#each yourBuddy}}
                    <p>
                        {{this.full_name}}  <br>
                        {{this.address}}    <br>
                        {{this.email}}      <br>
                        {{this.wishes}}     <br>
                    </p>
                {{/each}}
            </div>

        </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/assets/js/jquery-comments.js"></script>

<script type="text/javascript">

$('#comments-container').comments({
    profilePictureURL: 'https://app.viima.com/static/media/user_profiles/user-icon.png',
    getComments: function(success, error) {
        var commentsArray = [{
            id: 1,
            created: '2016-10-10',
            content: 'Honestly, its a NO for me...',
            fullname: 'Simon Cowell',
            upvote_count: 2,
            user_has_upvoted: false
        }];
        success(commentsArray);
    }
});

</script>

<footer class="container-fluid text-center" style="bottom: 0;">
  <form class="form-inline" style="font-size: 15pt; padding-top: 15px;">Copyright &copy; GiftBuddy</form>
</footer>